*.h
*.dat
*.htm
*.html
*.pyc
*.pye
*.aux
*.log
*.bbl
*.cpp
*.blg
*.h5
*.py
*.ist
*.nlo
*.glg
*.acn
*.glo
*.acr
*.alg
*.gls
*.glsdefs
*.toc
*.xdmf
chapters/introduction/figures/unloading/
numerical_experiments/unloading/
chapters/introduction/figures/bullseye/
chapters/introduction/figures/fiber/